.workspaces-list-item-add-workspace {
  margin: 0 1% 1% 0;
  padding: 0;
  width: 23.5%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #091e420a;
  position: relative;

  .create-workspace {
    border: none;
    box-shadow: none;
    color: #172b4d;
    display: table-cell;
    font-weight: 400;
    height: 80px;
  }
}
