* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

$mainColor: #151517;
$secondary: #98c1d9;
$background-color: #0000003d;
$text-color: #172b4d;

div {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  .board-header {
    background: $mainColor;
    height: auto;
    padding: 8px 4px 4px 12px;
    position: relative;

    .trello-logo-link {
      display: block;
      position: relative;
      flex-shrink: 0;
      margin-top: 1px;
      margin-right: 10px;
      width: 120px;
      height: 50px;

      .trello-logo {
        content: "";
        background-image: url(../../../public/images/header-logo-spirit.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .dropdown-toggle {
      padding: 15px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
    }

    .dropdown-menu {
      width: 230px;
      padding: 5px;
      border-top: 1px solid #e5e8ec;

      h2 {
        font-size: 12px;
        color: #5e6c84;
        font-weight: 600;
        margin: 12px;
        line-height: 16px;
      }

      .cur-workspace-card {
        text-decoration: none;
        overflow: hidden;
        border-radius: 3px;
        padding: 0 8px;
        margin: 0 8px 12px;

        .workspaces-section-header-icon {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          background-color: #f4f5f7;
          overflow: hidden;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background: linear-gradient(#006644, #00875a);
          }
        }

        p {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 0;
          margin-left: 8px;
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .seperate-line {
        border-top: 1px solid border, rgba(9, 30, 66, 0.08);
      }

      .dropdown-item {
        padding: 0;

        .dropdown-item-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          overflow: hidden;
          border-radius: 3px;
          padding: 0 8px;
          margin: 0 8px 12px;
          color: inherit;
          cursor: pointer;

          .workspaces-section-header-icon {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: #f4f5f7;
            overflow: hidden;

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              font-size: 20px;
              font-weight: bold;
              color: #fff;
              background: linear-gradient(#006644, #00875a);
            }
          }

          p {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            margin-left: 8px;
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
