.board-canvas {
  position: relative;

  .board {
    left: 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    top: 0;

    .list-wrapper:first-child {
      margin-left: 12px;
    }

    .list-wrapper {
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      margin: 0 4px;
      vertical-align: top;
      white-space: nowrap;
      width: 272px;

      .list-content {
        background-color: #ebecf0;
        border-radius: 3px;
        box-sizing: border-box;
        max-height: 100%;
        position: relative;
        white-space: normal;
        width: 100%;

        .list-header {
          flex: 0 0 auto;
          padding: 10px 8px;

          .list-title {
            cursor: pointer;
            left: 0;
            right: 0;
            top: 0;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
          }

          .list-title-textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 28px;
            background: #0000;
            border-radius: 3px;
            box-shadow: none;
            font-weight: 600;
            margin: -4px 0;
            max-height: 256px;
            min-height: 20px;
            padding: 4px 8px;
            width: 100%;
          }
        }

        .list-cards {
          flex: 1 1 auto;
          margin: 0 4px;
          min-height: 0;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0 4px;
          z-index: 1;

          .list-card {
            text-decoration: none;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 #091e4240;
            color: inherit;
            cursor: pointer;
            display: block;
            margin-bottom: 8px;
            max-width: 300px;
            min-height: 20px;
            position: relative;
            z-index: 0;
          }
        }

        .add-card {
          display: flex;
          justify-content: space-between;
          max-height: 38px;
          min-height: 38px;

          .open-add-card {
            border-radius: 3px;
            color: #5e6c84;
            display: block;
            flex: 1 0 auto;
            margin: 2px 0 8px 8px;
            padding: 4px 8px;
            position: relative;
          }
        }
      }
    }
  }

  .add-list {
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;

    button {
      background-color: #ebecf0;
      border-radius: 3px;
      box-sizing: border-box;
      max-height: 100%;
      position: relative;
      white-space: normal;
      width: 100%;
    }
  }
}
